{% extends "layout.html" %}
{% block body %}
<h3>About Me</h3>
<hr>
Hi! I'm Marilyn, 24 years old.
I graduated from İstanbul University Psychology Department in 2021.

After graduation, I decided to follow my passion for content that I discovered through this blog and I am currently working on SEO & content marketing.

Sending postcards to people from different parts of the world and writing letters to my local and foreign pen pals with Postcrossing are among my greatest happiness. I care about improving myself and making use of my time. I have been doing yoga for a long time and I have been interested in calisthenics for a short time.

My biggest goal is to motivate my readers for a happier and more peaceful life with this blog, which I set out with the motto of sharing my personal journey and the things that make me happy!

If you want to join me in Pursuit of Happiness, just click here!
<hr>
{% endblock body %}